<div id='charactersMain' align='center'>
  <h1>Click on a Character to Get More Information</h1>
  <div id='characterIcons'>
    <img id='LukeIcon' src='../../assets/LukeSquare.jpg' (click)='clickedLuke()'>
    <img id='VaderIcon' src='../../assets/VaderSquare.jpg' (click)='clickedVader()'>
    <img id='KenobiIcon' src='../../assets/KenobiSquare.png' (click)='clickedKenobi()'>
    <img id='R2D2Icon' src='../../assets/R2-D2Square.jpg' (click)='clickedR2D2()'>
  </div>
  <div id='chacterTableDiv'>
    <table id='characterTable'>
    </table>
  </div>
</div>
