#LukeIcon{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  padding:5px;
}
#LukeIcon:hover{
  cursor: pointer;
}
#VaderIcon{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  padding:5px;
}
#VaderIcon:hover{
  cursor: pointer;
}
#KenobiIcon{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  padding:5px;
}
#KenobiIcon:hover{
  cursor: pointer;
}
#R2D2Icon{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  padding:5px;
}
#R2D2Icon:hover{
  cursor: pointer;
}
#lukeTable, #vaderTable, #r2d2Table {
  border-collapse: collapse;
  border: 1px solid black;
}
th {
  border: 1px solid black;
  background-color:lightblue;
}

td {
  border: 1px solid black;
  padding: 1px;
  color: black;
  background-color:white;
}

/*position tables*/

#lukeTable {
  position: absolute;
  float: left;
  left: 60px;
  margin-top: 50px;
}
#vaderTable {
  position: absolute;
  float: left;
  left: 439.5px;
  margin-top: 50px;
}
#r2d2Table {
  position: absolute;
  float: left;
  left: 820px;
  margin-top: 50px;
  margin-bottom: 10px;
}
#kenobiDiv {
  margin-top: 15px;
  color: red;
}
